html {
 min-height: 100%;
}

body {
 -moz-user-select: none;
 user-select: none;
 background: linear-gradient(#0f0, #060);
 font-family: Arial, sans-serif;
 text-align: center;
 word-wrap: break-word;
 font-size: 1.6rem;
 image-rendering: -moz-crisp-edges;
 image-rendering: pixelated;
}

img {
 position: fixed;
 inset: 0;
 margin: auto;
 max-width: 100%;
 height: auto;
 -ms-interpolation-mode: nearest-neighbor;
}

#reflection {
 transform: translateY(42px) scaleY(-1);
 -webkit-mask-image: linear-gradient(#0000, #0006);
}

@media print{
 img{
  opacity: 0;
 }
}
